.display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.div2 {
  flex: 0.7;
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
  justify-content: left;
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  padding-top: 5px;
}

.weather-box {
  margin-top: 10px;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: auto;
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 70px;
  font-weight: 900px;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.2);
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: left;
  height: 90px;
}

.weather p {
  font-size: 30px;
}

.city-icon {
  margin-top: 32px;
  width: 100px;
  height: 100px;
  color: white;
}

.weather-details {
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}
.firstrow {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.secondrow {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.weather-details .details {
  width: 33%;
  text-align: center;
  font-size: 15px;
  color: white;
}

@media (max-width: 999px) {
  .display {
    flex-direction: column;
  }
}

.forecast-box {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  overflow-x: scroll;
  bottom: 10px;
}
.forecast-box::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
.forecast-box::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background: rgba(124, 123, 123, 0.7);
  width: 10px;
}

/* Handle on hover */
.forecast-box::-webkit-scrollbar-thumb:hover {
  background: rgba(180, 179, 179, 0.7);
}

h2 {
  margin: 10px;
  color: white;
  font-size: 35px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
}

@media (min-width: 999px) {
  .forecast-box {
    margin-top: 50px;
    position: absolute;
    bottom: 10px;
    width: 97%;
  }

  h2 {
    position: absolute;
    bottom: 220px;
    margin-left: 10px;
    color: white;
    font-size: 35px;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
  }
}
